body {
    margin: 0
}
.container {
    display: flex;
    
}
.trai,.phai {
    height: 400px;
}
.trai {
    background-color: red;
    width: 33%;
    display: block;
    text-align: center;
    line-height: 400px;
}
.phai {
    background-color: green;
    width: 33%;
    display: block;
    text-align: center;
    line-height: 400px;
    margin-left: 20px;
}
.giua {
    background-color: blue;
width: 33%;
text-align: center;
line-height: 400px;
margin-left: 20px;
}