img {
    width: 200px;
    height: 200px;
    display: flex;
    transition: 0.5s;
    border-radius: 10%;
    border: 2px solid pink;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    }
.container img:hover {
    transform: scale(1.5);
    filter: drop-shadow(0 0 5px aqua);
    

}
